@model IEnumerable<BlogMvcApp.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Yorumları Yönet</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Blog.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yorum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Blog.Baslik) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yorum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
